<%- include('./partials/head.ejs') %>

<h1>Authorize Strava</h1>
<p>If you want to use this application. You have to authorize this application for acces.</p>
<p>Please authorize though <a href="https://www.strava.com/oauth/authorize?client-id=b2143d2af41d51944f11a634eb5a8b4219644326&response_type=code&redirect_uri=https://minor-realtimeweb-strava.herokuapp.com/oauth/">here</a></p>

<%- include('./partials/foot.ejs') %>
